@import'../../variables';

//Media query for mobile
main {
  display: flex;
  flex-flow: column nowrap;

  h2 {
    text-align: center;
    font-size: 23px;
    font-weight: normal;
  }

  form {
    width: 100%;

    fieldset {
      display: flex;
      flex-flow: column nowrap;
      padding: 20px;

      label {
        margin-top: 15px;
      }

      input {
        margin-top: 15px;
        min-height: 40px;
        border: none;
        border-bottom: 1px solid $black;
        background-color: $gray;
        font-size: 17px;

        &:focus {
          outline: none;
        }
      }

      .errorFormMessage,
      .errorTextBox {
        min-width: 20px;
        margin: 5px 0;
        font-size: 18px;
        color: $lightRed;
      }

      p {
        min-width: 20px;
        margin: 5px 0;
        font-size: 13px;
      }

      button {
        align-self: center;
        width: fit-content;

        padding: 15px;
        border: none;
        border-radius: 50px;
        font-size: 18px;

        &:hover {
          background-color: $lightRed;
          color: $white;
          cursor: pointer;
        }
      }
    }
  }

  .deleteAccount {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 15px auto;

    button {
      width: fit-content;

      padding: 10px;
      border: none;
      border-radius: 50px;
      background-color: $lightRed;
      font-size: 20px;
      color: $lightGray;
      transition: all 0.3s;

      &:hover {
        background-color: darkred;
        color: white;
        cursor: pointer;
      }
    }
  }

  #submitBtn {
    margin-top: 35px;
  }
}

//Media query for tablet
@media screen and (min-width: 768px) and (max-width: 1023px) {
  main {
    max-width: 70%;
    margin: 0 auto;

    form {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      width: 100%;

      fieldset {
        width: 100%;
      }
    }
  }
}

//Media query for desktop
@media screen and (min-width: 1024px) {
  main {
    max-width: 40%;
    margin: 0 auto;

    form {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;

      fieldset {
        width: 100%;
      }
    }
  }
}
