@import'../../variables';

//Media query for mobile
main {
  display: flex;
  flex-flow: column nowrap;

  h2 {
    padding: 10px 0;
    text-align: center;
    background-color: $lightGray;
    font-size: 25px;
    font-weight: bold;
    color: $textH2;
  }

  form {

    fieldset {
      display: flex;
      flex-flow: column nowrap;
      padding: 20px;

      label {
        margin-top: 15px;
      }

      input {
        margin-top: 5px;
        min-height: 40px;
        border: none;
        border-bottom: 1px solid $black;
        background-color: $lightGray;
        font-size: 15px;

        &:focus {
          border-bottom: 1px solid transparent;
        }
      }

      .errorFormMessage,
      .errorTextBox {
        min-width: 20px;
        margin: 5px 0;
        font-size: 18px;
        color: $lightRed;
      }

      p {
        min-width: 20px;
        margin: 5px 0;
        font-size: 13px;
      }

      button {
        align-self: center;
        width: fit-content;
        padding: 15px;
        border: none;
        border-radius: 50px;
        font-size: 18px;
        transition: all 0.3s;

        &:hover {
          background-color: $lightRed;
          color: $white;
          cursor: pointer;
        }
      }
    }
  }

  .deleteAccount {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 15px auto;

    button {
      width: fit-content;

      padding: 10px;
      border: none;
      border-radius: 50px;
      background-color: $lightRed;
      font-size: 20px;
      color: $lightGray;
      transition: all 0.3s;

      &:hover {
        background-color: darkred;
        color: white;
        cursor: pointer;
      }
    }
  }

  #submitBtn {
    margin-top: 35px;
  }
}

//Media query for tablet
@media screen and (min-width: 768px) {}

//Media query for desktop
@media screen and (min-width: 1024px) {}
