<main>
  <h2>Editer mon profil</h2>
  <!-- Profile formular editor -->
  <form novalidate [formGroup]="profileForm" (ngSubmit)="editProfile()" id="profileForm">
    <fieldset>
      <legend>Informations de profil</legend>

      <label for="nameField">Nom</label>
      <input formControlName="name" type="text" id="nameField" placeholder="Votre nom" minlength="1" maxlength="50"
        [(ngModel)]="userInfos.name" required>
      <p *ngIf="submitted && formControls['name'].errors" class="errorFormMessage">{{ formErrorMessage }}</p>


      <label for="emailField">Email</label>
      <input type="email" id="emailField" placeholder="L'adresse E-mail n'est pas modifiable" minlength="1"
        maxlength="50" [(value)]="userInfos.email" required disabled>

      <label for="passwordField">Mot de passe</label>
      <input formControlName="password" type="password" id="passwordField" placeholder="Votre mot de passe"
        minlength="1" maxlength="50" required>
      <p *ngIf="submitted && formControls['password'].errors" class="errorFormMessage">{{ formErrorMessage }}</p>

      <button type="submit" id="submitBtn">Enregistrer</button>
      <p class="errorTextBox">{{ response }}</p>
    </fieldset>
  </form>
  <div class="deleteAccount">
    <button (click)="deleteAccount(userInfos.id)">Supprimer mon compte</button>
  </div>
</main>
