//Media query for mobile
main {
  display: flex;
  flex-flow: column nowrap;

  h2 {
    text-align: center;
    font-size: 18px;
    font-weight: normal;
  }

  form {

    fieldset {
      display: flex;
      flex-flow: column nowrap;
      padding: 20px;

      label {
        margin-top: 15px;
      }

      input {
        margin-top: 15px;
        min-height: 40px;
        border: none;
        border-bottom: 1px solid #000;
        background-color: #E6E6E6;

        &:focus {
          outline: none;
        }
      }

      p {
        margin: 5px 0;
        min-width: 20px;
        font-size: 13px;
      }

      button {
        margin-top: 20px;
        width: fit-content;
        align-self: center;
        border: none;
        padding: 15px;
        font-size: 18px;
        border-radius: 50px;

        &:hover {
          background-color: #D1515A;
          color: #FFF;
        }
      }
    }
  }
}

//Media query for tablet
@media screen and (min-width: 768px) and (max-width: 1023px) {}

//Media query for desktop
@media screen and (min-width: 1024px) {}
