<main>
  <h2>Connectez-vous !</h2>
  <form action="#" id="loginForm">
    <fieldset>
      <legend>Formulaire de connexion</legend>
      <label for="emailField">Email</label>
      <input type="email" id="emailField" placeholder="Votre email" required>
      <p id="emailError">Champ requis</p>
      <label for="passwordField">Mot de passe</label>
      <input type="password" id="passwordField" placeholder="Votre mot de passe" required>
      <p id="passwordError">Champ requis</p>
      <button>Me connecter</button>
    </fieldset>
  </form>
</main>
