main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  h2 {
    font-size: 23px;
  }

  .main__wrapper {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    a {
      width: 100%;
      max-width: 200px;
      display: block;
      margin: 0 10px 20px 10px;
      padding: 5px;
      text-decoration: none;
      color: #000;

      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

      &:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
      }

      article {
        figure {
          margin: 0;

          img {
            width: 100%;
            object-fit: cover;
          }

          figcaption {
            h3 {
              margin-top: 0;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }

            p {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              margin: 0;
            }
          }
        }
      }
    }
  }
}
