<main>
  <h2>Exprimez-vous !</h2>

  <!-- Picture card -->
  <section class="card">
    <article *ngFor="let element of picture">
      <figure>
        <img [src]="element.url" alt="Photo postée par un membre">
        <figcaption>
          <h3>{{ element.title }}</h3>
          <p>Par <b>{{ element.user.name }}</b>, <br />{{ element.updatedAt | date: "dd/MM/YYYY à HH:mm" : 'GMT+2' }}</p>
        </figcaption>
      </figure>
    </article>
  </section>


  <!-- Comment formular with textarea -->
  <section class="formular">
    <form action="#" id="commentForm">
      <fieldset>
        <legend>Commenter cette photo</legend>
        <textarea name="commentField" id="commentField" cols="25" rows="5" placeholder="Saisissez votre commentaire ici"
          required></textarea>
        <p id="commentError">Champ requis</p>
        <button id="commentSubmit">Partager votre commentaire</button>
      </fieldset>
    </form>
  </section>


  <!-- Comment card sample -->
  <section class="comments">
    <h3>Commentaires des utilisateurs</h3>
    <article *ngFor="let comment of pictureComments; let in = index">
      <p class="commentDate">Envoyé par <b>{{ comment.user.name }}</b>, le
        {{comment.createdAt | date: "dd/MM/YYYY à HH:mm" : 'GMT+2' }}</p>
      <p class="commentContent">{{comment.comment}}</p>
    </article>
  </section>
</main>
