<main>
  <h2>Exprimez-vous !</h2>

  <!-- Picture card -->
  <section class="card">
    <article *ngFor="let element of picture">
      <figure>
        <img [src]="element.url" alt="Photo postée par un membre">
        <figcaption>
          <h3>{{ element.title }}</h3>
          <p>Par <b>{{ element.user.name }}</b>, <br />{{ element.updatedAt | date: "dd/MM/YYYY à HH:mm" : 'GMT+2' }}
          </p>
        </figcaption>
      </figure>
      <div *ngIf="userId == element.userId || userInfos.isAdmin === true">
        <button (click)="deletePicture(element.id)">Supprimer la photo</button>
      </div>
    </article>
  </section>

  <!-- Comment formular with textarea -->
  <section class="formular">
    <form novalidate [formGroup]="commentForm" (ngSubmit)="sendComment()" id="commentForm">
      <fieldset>
        <legend>Commenter cette photo</legend>
        <textarea formControlName="comment" name="commentField" id="commentField" cols="25" rows="5"
          placeholder="Saisissez votre commentaire ici (500 caractères maximum)" minlength="3" maxlength="500"
          required></textarea>
        <p *ngIf="submitted && formControls['comment'].errors" class="errorFormMessage">{{ formErrorMessage }}</p>
        <button type="submit" id="commentSubmit">Partager votre commentaire</button>
        <p [ngStyle]="textBoxStyle" class="errorTextBox">{{ response }}</p>
      </fieldset>
    </form>
  </section>

  <!-- Comment card sample -->
  <section class="comments">
    <h3>Commentaires des utilisateurs</h3>
    <p class="noComments" *ngIf="noComment">Il n'y a pas encore de commentaire à afficher !</p>
    <article *ngFor="let comment of pictureComments">
      <div class="commentWrapper">
        <p class="commentDate">Envoyé par <b>{{ comment.user.name }}</b><br />le
          {{comment.createdAt | date: "dd/MM/YYYY à HH:mm" : 'GMT+2' }}</p>
        <div *ngIf="comment.userId == userId || userInfos.isAdmin===true" class="deleteComment" title="Supprimer">
          <div class="divCross" (click)="deleteComment(comment.id)">&#10060;</div>
        </div>
      </div>


      <p class="commentContent">{{comment.comment}}</p>
    </article>
  </section>
</main>
