@import'../../variables';

//Media query fo mobile
main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  h2 {
    font-size: 23px;
  }

  .card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    margin: 10px;
    padding: 10px;

    article {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-bottom: 20px;
      padding: 10px;
      border: 1px solid $darkGray;

      figure {

        max-width: 300px;
        margin: 0;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

        img {
          width: 100%;
          object-fit: cover;
        }

        figcaption {
          margin: 0 10px 10px 10x;
          padding: 10px;

          h3 {
            margin: 0;
            margin-bottom: 10px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          p {
            margin: 0;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }

  .formular {
    width: 100%;

    form {
      padding: 10px;

      fieldset {
        display: flex;
        flex-flow: column nowrap;
        margin: 0;

        textarea {
          margin: 0;
          margin-top: 10px;
          padding: 0;
          outline: none;
          resize: none;
        }

        p {
          min-width: 20px;
          margin: 5px 0;
          font-size: 13px;
        }

        button {
          align-self: center;
          width: fit-content;
          margin: 10px 0;
          padding: 15px;
          border: none;
          border-radius: 50px;
          font-size: 18px;

          &:hover {
            background-color: $lightRed;
            color: $white;
          }
        }

        .errorFormMessage,
        .errorTextBox {
          min-width: 20px;
          margin: 5px 0;
          font-size: 18px;
          color: $lightRed;
        }
      }
    }
  }

  .comments {
    width: 100%;

    h3 {
      text-align: center;
    }

    article {
      padding: 10px;

      .commentWrapper {
        display: flex;
        flex-flow: row nowrap;
        background-color: $gray;
        border: 1px solid $darkGray;

        .deleteComment {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 46px;
          padding: 5px;
          border: 2px solid $darkGray;
          border-left: none;
          background-color: lighten($lightRed, 15);
          transition: all 0.3s;

          &:hover {
            background-color: lighten($lightRed, 5);
            // border-radius: 50px;
            cursor: pointer;
          }
        }

        p {
          width: 100%;
        }
      }

      p {
        width: auto;
        margin: 0;
        padding: 5px;
      }

      .commentDate {
        margin-bottom: 0;
        padding: 5px;
        border: 1px solid $darkGray;
        background-color: $gray;
        font-size: 14px;
        font-style: italic;
      }

      .commentContent {
        border: 1px solid $darkGray;
        border-top: none;
        background-color: $lightGray;
        text-align: justify;
      }
    }
  }
}

//Media query for tablet
@media screen and (min-width: 768px) and (max-width: 1023px) {
  main {
    max-width: 70%;
    margin: 0 auto;
    // h2 {}

    .card {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      width: 80%;
      max-width: none;
      padding: 15px;
      border: 1px solid $darkGray;

      article {
        max-width: 300px;
        margin: 0;
        border: none;
      }
    }

    .formular {
      width: 80%;
      margin-bottom: 20px;

      form {
        padding: 0;
      }
    }

    .comments {
      article {
        padding: 0;
      }

      width: 80%;
    }
  }
}

//Media query for desktop
@media screen and (min-width: 1024px) {
  main {
    max-width: 40%;
    margin: 0 auto;

    // .formular {

    //   form {}
    // }
  }
}
