@import'../../variables';

//Media query fo mobile
main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  h2 {
    font-size: 25px;
    color: $textH2;
  }

  .card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    max-width: 300px;
    margin: 10px;
    border: 1px solid $darkGray;

    article {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-bottom: 20px;
      padding: 10px;

      figure {
        width: 100%;

        margin: 0;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

        img {
          width: 100%;
          object-fit: cover;
        }

        figcaption {
          margin: 0 10px 10px 10x;
          padding: 10px;

          h3 {
            margin: 0;
            margin-bottom: 10px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 22px;
            color: $textH2;
          }

          p {
            margin: 0;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
      }

      button {
        align-self: center;
        width: fit-content;
        margin: 20px auto 10px auto;
        padding: 15px;
        border: none;
        border-radius: 50px;
        font-size: 18px;

        &:hover {
          background-color: $lightRed;
          color: $white;
          cursor: pointer;
        }
      }
    }
  }

  .formular {
    width: 100%;

    form {
      padding: 10px;

      fieldset {
        display: flex;
        flex-flow: column nowrap;
        margin: 0;
        font-weight: bold;
        font-size: 18px;

        textarea {
          margin: 0;
          margin-top: 10px;
          padding: 0;
          outline: none;
          resize: none;
        }

        p {
          min-width: 20px;
          margin: 5px 0;
          font-size: 13px;
        }

        button {
          align-self: center;
          width: fit-content;
          margin: 10px 0;
          padding: 15px;
          border: none;
          border-radius: 50px;
          font-size: 18px;

          &:hover {
            background-color: $lightRed;
            color: $white;
            cursor: pointer;
          }
        }

        .errorFormMessage,
        .errorTextBox {
          min-width: 20px;
          margin: 5px 0;
          font-size: 18px;
          color: $lightRed;
        }
      }
    }
  }

  .comments {
    width: 100%;

    h3 {
      text-align: center;
    }
.noComments{
  text-align: center;
}
    article {
      margin: 10px;

      .commentWrapper {
        display: flex;
        flex-flow: row nowrap;

        .deleteComment {
          padding: 5px;
          border: 2px solid $darkGray;
          border-left: none;
          background-color: lighten($lightRed, 15);
          transition: all 0.3s;

          &:hover {
            background-color: lighten($lightRed, 5);
            cursor: pointer;
          }
        }

        .divCross {
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;
          height: 35px;
          width: 35px;
        }
      }

      p {
        margin: 0;
        padding: 5px;
      }

      .commentDate {
        width: 100%;
        margin-bottom: 0;
        padding: 5px;
        border: 1px solid $darkGray;
        background-color: $gray;
        font-size: 14px;
        font-style: italic;
      }

      .commentContent {
        padding: 10px;
        border: 1px solid $darkGray;
        border-top: none;
        background-color: $lightGray;
        text-align: justify;
      }
    }
  }
}

//Media query for tablet
@media screen and (min-width: 768px) and (max-width: 1023px) {
  main {
    max-width: 70%;
    margin: 0 auto;

    h2,
    h3 {
      color: $textH2;
    }

    .card {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      // max-width: 300px;
      width: 70%;
      padding: 0;
      border: 1px solid $darkGray;

      article {
        width: 100%;
        margin: 0;
        border: none;

        figure {
          img {
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }

    .formular {
      margin-bottom: 20px;

      form {
        padding: 0;
      }
    }

    .comments {
      article {
        padding: 0;
      }
    }
  }
}

//Media query for desktop
@media screen and (min-width: 1024px) {
  main {
    max-width: 55%;
    margin: 0 auto;
  }
}
