<main>
  <section class="pictureForm">
    <form novalidate [formGroup]="pictureForm" (ngSubmit)="sendPicture()" enctype="multipart/form-data">
      <fieldset>
        <legend>Poster une photo</legend>
        <div class="formCtrlWrapper">

          <div class="divFile">
            <label for="fileField" class="labelFile">Sélectionnez un fichier</label>
            <input (change)="onFileChange($event)" id="fileField" type="file" accept="image/gif" name="fileField"
              required>
            <p *ngIf="!selectedFile">Aucun fichier sélectionné</p>
            <p *ngIf="selectedFile">Fichier : {{selectedFile}}</p>
            <p *ngIf="submitted && formControls['file'].errors" class="errorFormMessage">{{ formErrorMessage }}</p>
          </div>

          <div class="divTitle">
            <label class="labelText" for="titleField">Titre de la photo</label>
            <input formControlName="title" id="titleField" type="text" placeholder="Indiquez le titre de la photo"
              minlength="3" maxlength="20">
            <p *ngIf="submitted && formControls['title'].errors" class="errorFormMessage">{{ formErrorMessage }}</p>
          </div>

          <div class="divSubmit">
            <button type="submit">Envoyer votre photo</button>
            <p [ngStyle]="textBoxStyle" class="errorTextBox">{{ response }}</p>
          </div>

        </div>


      </fieldset>
    </form>

  </section>

  <h2>Photos des membres</h2>
  <section class="main__wrapper">

    <p class="noPictureToDisplay">{{ noPictureMsg }}</p>
    <a [routerLink]="['/pictures', picture.id]" *ngFor="let picture of this.pictures">
      <article>
        <figure>
          <img [src]="picture.url" alt="Photo postée par un membre">
          <figcaption>
            <h3>{{ picture.title }}</h3>
            <p>Postée par <strong>{{ picture.user.name }}</strong>
              <br />{{ picture.createdAt | date: "dd/MM/YYYY à HH:mm" : 'GMT+2'}}
            </p>
          </figcaption>
        </figure>
      </article>
    </a>

  </section>
</main>
