@import'../../variables';

//Media query for mobile
main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;

  .pictureForm {
    width: 100%;

    legend {
      font-weight: bold;
      font-size: 18px;
    }

    form {
      width: 100%;
      padding: 1px;
    }

    .formCtrlWrapper {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      width: auto;

      .divFile {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        background-color: $lightGray;
        width: 100%;
      }

      .divTitle {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        background-color: $lightGray;
        width: 100%;
      }

      .divSubmit {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        background-color: $lightGray;
        width: 100%;
      }
    }

    label {
      padding: 5px;
    }

    .labelFile {
      width: fit-content;
      margin: 0;
      margin-top: 10px;
      padding: 10px;
      border-radius: 50px;
      text-align: center;
      background-color: $lightBlue;
      transition: all 0.3s;

      &:hover {
        background-color: darken($lightBlue, 10);
        cursor: pointer;
      }
    }

    .labelText {
      font-weight: bold;
    }

    input[type="text"] {
      min-height: 40px;
      margin-top: 5px;
      margin-bottom: 20px;
      padding: 0 5px;
      font-size: 17px;

      &:focus {
        outline: none;
      }
    }

    input[type="file"] {
      display: none;
    }

    p {
      margin-top: 10px;
      margin-bottom: 40px;
      text-align: center;
    }

    .errorFormMessage,
    .errorTextBox {
      min-width: 20px;
      margin: 5px 0;
      font-size: 18px;
      color: $lightRed;
    }

    fieldset {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      margin: 0;
    }

    button {
      width: fit-content;
      margin: 10px 0;
      padding: 15px;
      border: none;
      border-radius: 50px;
      font-size: 18px;

      &:hover {
        background-color: $lightRed;
        color: $white;
      }
    }
  }

  h2 {
    font-size: 23px;
  }

  .main__wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;

    a {
      display: block;
      width: 100%;
      max-width: 300px;
      margin: 0 10px 20px 10px;
      padding: 5px;
      text-decoration: none;
      color: $black;

      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

      &:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
      }

      article {
        figure {
          margin: 0;

          img {
            width: 100%;
            height: 200px;
            object-fit: cover;
          }

          figcaption {
            h3 {
              margin-top: 0;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }

            p {
              margin: 0;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
          }
        }
      }
    }
  }
}

//Media query for tablet
@media screen and (min-width: 768px) and (max-width: 1023px) {
  main {
    max-width: 70%;
    margin: 0 auto;

    .main__wrapper {
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      border: 1px solid $darkGray;
      padding: 15px;
      margin-bottom: 20px;

      a {
        width: 100%;
      }
    }

    form {
      width: 100%;
    }

  }

  fieldset {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    align-items: center;
  }

  .pictureForm {
    width: 100%;
  }

}

//Media query for Desktop
@media screen and (min-width: 1024px) {
  main {
    max-width: 55%;
    margin: 0 auto;

    .main__wrapper {
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      border: 1px solid $darkGray;
      padding: 15px;
      margin-bottom: 20px;

      a {
        width: 100%;
      }
    }

    form {
      width: 100%;
    }

    fieldset {
      display: flex;
      flex-flow: column nowrap;
      width: 100%;
      align-items: center;
    }

    .pictureForm {
      width: 100%;
    }
  }
}
