@import'../../variables';

//Media query for mobile
header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  a {
    display: block;

    img {
      width: 310px;
      height: 155px;
      object-fit: cover;
    }
  }

  h1 {
    margin: 0 auto 50px auto;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: $textH1;
  }

  nav {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;

    ul {
      width: 100%;
      padding-left: 0;
      list-style: none;

      li {
        min-width: 33%;
        text-align: center;
        border-bottom: 1px solid $darkGray;

        a {
          display: block;
          padding: 15px 0;
          border: 1px solid $gray;
          text-decoration: none;
          background-color: $gray;
          font-size: 18px;
          text-transform: uppercase;
          color: $black;

          &:hover {
            border-bottom: 1px solid $lightRed;
            background-color: $white;
            color: $lightRed;

          }
        }
      }
    }
  }
}

//Media query for tablet
@media screen and (min-width: 768px) and (max-width: 1023px) {}

//Media query for desktop
@media screen and (min-width: 1024px) {
  header {
    // max-width: 55%;
    // margin: 0 auto;

    nav {
      ul {
        display: flex;
        flex-flow: row nowrap;

        li {
          min-width: auto;
          width: 100%;
        }
      }
    }
  }
}
