@import'../../variables';

//Media query for mobile
main {
  h2 {
    width: 100%;
    padding: 10px 0;
    background-color: $lightGray;
    text-align: center;

  }

  .noUsers {
    height: 25px;
    min-height: 25px;

    p {

      margin: 50px auto;
      text-align: center;
      font-size: 18px;
      color: $lightRed;
    }
  }

  .errorTextBox {
    height: 25px;
    min-height: 25px;
    margin: 5px 0;
    font-size: 18px;
    color: $lightRed;
  }

  .listWrapper {
    margin-bottom: 100px;

    .user {
      display: flex;
      flex-flow: row nowrap;
      margin: 15px 0;
      padding: 10px 3px;
      background-color: $gray;

      p {
        width: 35%;
        max-width: 35%;
        margin: 0 5px;
        padding: 5px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-weight: bold;
      }

      button {
        width: 25%;
        max-width: 25%;
        margin: 0 5px;
        padding: 5px;
        border: none;
        border-radius: 50px;
        background-color: $lightRed;
        color: $lightGray;
        transition: all 0.3s;

        &:hover {
          cursor: pointer;
          background-color: darken($lightRed, 20%);
        }
      }
    }
  }
}

//Media query for tablet
@media screen and (min-width: 768px) {}

//Media query for desktop
@media screen and (min-width: 1024px) {}
