//Colors
$white: #FFF;
$black: #000;
$lightRed: #D1515A;
$darkGray:#B6B6B6;
$gray:#E6E6E6;
$lightGray:#F6F6F6;
$textH1:#646464;
$textH2: rgb(39, 39, 39);
$lightBlue:rgb(217, 233, 252);
$blue: rgb(108, 184, 255);
