/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400&display=swap');
@import './variables';
* {
  box-sizing: border-box;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

html,
body {
  min-width: 320px;
  margin: 0;
  padding: 0;
}

body {
  overflow-y: scroll;
  background: rgba(53, 73, 92, 0.897);
}

.site_wrapper {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  min-height: 100vh;
  background: #FFF;
}

@media screen and (min-width:768px) {
  .site_wrapper {
    width: 668px;
    margin: 0 auto;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    justify-content: space-between;
  }
}

@media screen and (min-width:1024px) {

  .site_wrapper {
    width: 1000px;
    margin: 0 auto;
  }
}
