<main>
  <h2>Créer un compte</h2>
  <form action="#" id="signupForm">
    <fieldset>
      <legend>Formulaire d'inscription</legend>
      <label for="nameField">Nom</label>
      <input type="text" id="nameField" placeholder="Votre nom" minlength="1" maxlength="50" required>
      <p id="nameError">Champ requis</p>
      <label for="emailField">Email</label>
      <input type="email" id="emailField" placeholder="Votre email" minlength="1" maxlength="50" required>
      <p id="emailError">Champ requis</p>
      <label for="passwordField">Mot de passe</label>
      <input type="password" id="passwordField" placeholder="Votre mot de passe" minlength="1" maxlength="50" required>
      <p id="passwordError">Champ requis</p>
      <button>Créer mon compte</button>
    </fieldset>
  </form>
</main>
